.adopt-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* 👈 Esto eliminará los bordes blancos */
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
  max-width: 1000px;
  padding: 2rem;
  border-radius: 1rem;
}

.content p {
  font-weight: 200;
  font-size: 3rem;
  color: rgb(63, 63, 63);
  padding: 0;
  margin: 0;
}

.content img {
  max-width: 100%;
  height: 30rem;
}

@media (max-width: 600px) {
  .adopt-page .content p {
    font-size: 1.8rem; /* texto más pequeño */
  }

  .adopt-page .content img {
    max-width: 250px; /* imagen más pequeña */
    height: auto;
  }
}