@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');

.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #eeddd3;
  color: #000;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__legal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.footer__link {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Red Hat Text', sans-serif;
  white-space: nowrap;
}

.footer__link:hover {
  color: blue;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__social-link {
  text-decoration: none;
  margin-left: 3rem;
}

.footer__social-link:hover {
  opacity: 0.8;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
  display: block;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer__legal {
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .footer__social-icon {
    width: 20px;
    height: 20px;
  }
  
  .footer__link {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .footer__legal {
    gap: 0.3rem;
  }
  
  .footer__social-link {
    margin-left: 1rem;
  }
}