@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');

.footer {
  background-color: #eeddd3;
  color: #000;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- Sección Izquierda: Enlaces Legales --- */
.legalLinks {
  display: flex;
  flex-direction: column; /* Apila los enlaces */
  align-items: flex-start;
}

.footer .legalLinks a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: 'Red Hat Text', sans-serif;
}

.legalLinks a:hover {
  color: white;
}

/* --- Sección Derecha: Iconos Sociales --- */
.socialIcons a {
  font-size: 1.8rem; /* Tamaño de los iconos */
  text-decoration: none;
  margin-left:3rem;
}

.socialIcons a:hover {
  opacity: 0.8;
}

/* Añade esto a tu Footer.module.css */

.socialIconImage {
  width: 90px; /* Ajusta el tamaño de los iconos a tu gusto */
  height: 90px;
}

/* Añade esto al final de Footer.module.css */

@media (max-width: 768px) {
  .socialIconImage {
    width: 20px;
    height: 20px;
  }
  
 .footer .legalLinks a {
    font-size: 0.8rem;
  }

  .footer {
    padding-top: 1rem;  
    padding-bottom: 1rem;
  }
}