/*Header y Footer en App.jsx*/
/* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa como mínimo toda la altura de la pantalla 
}*/

/* .app__main {
  flex-grow: 1; 
} */ 

/*root para responsive de Layout*/
#root {
  display: flex;
  flex-direction: column;
  flex: 1; 
}