:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Eliminar el color de fondo global para que se vea la imagen */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background: none; /* Permite que el fondo se vea desde el componente */
}

/* Enlaces */
a {
  font-weight: 500;
  color: #0066cc;
  text-decoration: none;
}
a:hover {
  color: #004999;
  text-decoration: underline;
}